@font-face {
  font-family: 'Inter';
  src: url(../../vendor/fonts/InterWeb/Inter-Regular.woff2) format('woff2'),
       url(../../vendor/fonts/InterWeb/Inter-Regular.woff) format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(../../vendor/fonts/InterWeb/Inter-Bold.woff2) format('woff2'),
       url(../../vendor/fonts/InterWeb/Inter-Bold.woff) format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(../../vendor/fonts/InterWeb/Inter-Black.woff2) format('woff2'),
       url(../../vendor/fonts/InterWeb/Inter-Black.woff) format('woff');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

.page {
  min-width: 320px;
  box-sizing: border-box;
  background: #2A2C2F;
  font-family: 'Inter', Arial, sans-serif;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

